/* 공통 적용 */
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  min-width: 1060px;
  font-family: Roboto, Avenir, sans-serif;
  font-size: 1.8rem;
  line-height: 1.6;
}
a {
  color: inherit;
}
hr {
  border: 0;
  border-top: 1px solid #cfe3dc;
}

/* LAYOUT */
.container,
.container-float {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 4%;
}
.container-float::after {
  display: block;
  content: "";
  clear: both;
}

/* CALL TO ACTION */
.cta {
  display: block;
  border-radius: 8px;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
}

/* HEADER */
.header {
  background: #0c4b33;
  padding: 15px 0 4px;
  height: 72px;
}
.header a {
  text-decoration: none;
}
.logo {
  float: left;
  margin: 0;
  background: url("https://static.djangoproject.com/img/logo-django.42234b631760.svg")
    no-repeat;
}
.logo a {
  display: block;
  text-indent: 100%;
  overflow: hidden;
  width: 104px;
  height: 36px;
}
.meta.header-meta {
  float: left;
  width: 180px;
  display: block;
  font-size: 1.3rem;
  color: #44b790;
  margin: 3px 0 0 12px;
  line-height: 1.3;
}
.top-nav {
  float: right;
}
.list {
  font-size: 0;
  margin: 0;
  padding: 0;
}
.list-item {
  display: inline-block;
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}
.top-nav a {
  padding: 10px;
  display: block;
}
.top-nav a:hover {
  color: #c9f0dd;
}

/* MAIN */

/* HERO */
.hero-section {
  padding: 50px 0;
  text-align: center;
  border-bottom: 1px solid #cfe3dc;
}
.hero-section a {
  text-decoration: none;
}
.intro-desc {
  width: 700px;
  margin: 40px auto 50px;
  font-weight: 300;
  font-size: 3.6rem;
  line-height: 1.3;
}
.hero-cta {
  width: 300px;
  padding: 2rem 5rem;
  margin: 20px auto 60px;
  background: #44b78b;
  color: #fff;
}
.hero-cta:focus,
.hero-cta:hover,
.hero-cta:active {
  background-color: #51be95;
}

/* MAIN CONTENT */
.main-content {
  background: #fff;
  float: left;
  width: 63%;
  padding-right: 20px;
}
.main-content a {
  text-decoration: none;
}
.main-section:first-child {
  padding-bottom: 40px;
  border-bottom: 1px solid #cfe3dc;
}
.section-title {
  font-weight: 400;
  margin: 40px 0 0 0;
  font-size: 3.2rem;
  letter-spacing: -1px;
}
.section-desc,
.feature-desc {
  font-family: Times, "Times New Roman", serif;
}
.list-features {
  margin: 4rem 0 5rem;
}
.feature-title {
  position: relative;
  font-size: 2.4rem;
  padding: 20px 0 0 130px;
}
.feature-desc {
  margin: 1.8rem 0;
  padding: 0 60px 20px 130px;
}
.main-cta {
  color: #859d94;
  max-width: 500px;
  padding: 18px 27px;
  margin: 20px auto;
  border: 1px solid #cfe3dc;
  background: none;
}
.main-cta:focus,
.main-cta:hover,
.main-cta:active {
  border-color: #20aa76;
  color: #20aa76;
}
.form-layout-2col::after {
  content: "";
  display: block;
  clear: both;
}
.mailing.col {
  float: left;
  -width: 70%;
  width: 48%;
}
.mailing:first-child {
  margin-right: 4%;
}
.mailing-title {
  color: #20aa76;
  font-size: 1.8rem;
  font-weight: 700;
}
.mailing-form {
  position: relative;
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}
#email-follow,
#email-contribute {
  padding: 6px 80px 8px 10px;
  margin: 0 auto;
  width: 100%;
  border: 1px solid #cfe3dc;
  border-radius: 4px;
  height: 5rem;
  vertical-align: middle;
}
.mailing-form-btn {
  position: absolute;
  top: 30%;
  right: 1rem;
  color: #44b78b;
  border: none;
  background: transparent;
}
.mailing-meta {
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.3;
}
.mailing-meta a {
  color: #25c488;
}
.additional-mailing-info {
  margin-top: 50px;
}
.additional-mailing-info a {
  text-decoration: underline;
}

/* SIDE CONTENT */
.side-content {
  float: right;
  width: 34%;
  margin: 0;
  padding: 0 0 30px 20px;
  border-left: 1px solid #cfe3dc;
}
.side-content a {
  text-decoration: none;
}
.side-content a:hover,
.side-content a:focus,
.side-content a:active {
  color: #25c488;
}
.container-side-cta {
  text-align: center;
}
.side-cta {
  width: 330px;
  background: #44b786;
  color: #fff;
  padding: 16px 24px;
  margin: 40px auto 20px;
}
.side-cta:focus,
.side-cta:hover,
.side-cta:active {
  color: #fff;
  background: #51be95;
}
.side-content em {
  font-style: normal;
  color: #c9f0dd;
}
.more {
  display: block;
  margin-top: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #20aa76;
}
.more::after {
  content: " >";
}
.fundraising-title {
  font-size: 2rem;
  font-weight: 400;
  border-bottom: 1px solid #cfe3dc;
  margin-top: 3.5rem;
  padding-bottom: 1rem;
}
.small-heart {
  display: block;
  float: left;
  margin: 25px 15px 20px 0;
}
.small-cta {
  display: block;
  padding-top: 20px;
  font-size: 1.4rem;
  color: #20aa76;
  line-height: 2;
}
.infos {
  margin-bottom: 40px;
}
.infos-title {
  font-size: 1.8rem;
  font-weight: 400;
  border-bottom: 1px solid #cfe3dc;
  margin: 3.5rem 0 0 0;
  padding-bottom: 1rem;
}
.news-title {
  margin: 0;
  font-weight: 700;
  font-size: 1.6rem;
  color: #20aa76;
}
.news-article {
  padding: 20px 0;
}
.news-article:not(:first-of-type) {
  border-top: 1px solid #cfe3dc;
}
.news-desc {
  font-size: 1.5rem;
}
.news-meta {
  margin-top: 1rem;
  font-size: 1.4rem;
  color: #859d94;
}
.list-side {
  padding: 0;
  margin: 20px 0;
}
.list-side-item {
  font-size: 1.4rem;
  margin-top: 10px;
  color: #25c488;
  list-style: none;
}
.list-side-item::before {
  font-family: "Font Awesome 5 Free";
  content: "\f15c";
  margin-right: 1rem;
}
.list-communities,
.list-foundation {
  margin: 20px 0;
}
.community-title,
.foundation-title {
  font-size: 1.4rem;
  color: #25c488;
  margin-top: 14px;
}
.community-desc,
.foundation-desc {
  margin: 10px 0 0 0;
  font-size: 1.4rem;
  color: #859d94;
}

/* FOOTER */
.content-info {
  color: #fff;
  background: #44b78b;
}
.content-info a {
  text-decoration: none;
}
.content-info a:hover {
  text-decoration: underline;
  color: #fff;
}
/* 숨김처리 */
.readable-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}
.links {
  background: #44b78b;
}
.links-title {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 30px 0 10px;
}
.list-links {
  margin: 15px 0 0 0;
  padding: 0 0 30px 0;
}
.list-links-item {
  margin: 10px 0 0;
  list-style: none;
}
.links a {
  font-size: 1.4rem;
  color: #f1fff7;
  font-weight: 400;
}
.links .col {
  float: left;
  width: 33%;
}
.footer {
  background: #0c4b33;
  padding: 10px 0 30px;
  margin-top: 20px;
}
.footer .logo {
  float: none;
  display: block;
  margin-top: 2rem;
}
.copyright {
  font-size: 1.2rem;
  color: #2b8c67;
}
.copyright a {
  text-decoration: underline;
}
.copyright a:hover {
  color: inherit;
}
